<ol class="post-list site-grid__full">
    {% for item in props.items %}
    <li class="post-list__item">
        <div class="post-list__item--title">
            <h3 class="post-list__title">
                <a class="stretched-link" href="{{ item.url }}" rel="bookmark">{{
                    item.data.title
                    }}</a>
            </h3>
        </div>
        <div class="post-list__item--category">
            <time class="" datetime="{{ item.date | htmlDateString }}">
                {{ item.date | frontDate }}
            </time>
        </div>
        <div class="post-list__item--date">
            {{ item.data.category | safe }}

        </div>
        <div class="post-list__item--tags">
            <ul class="post-list__tags">
                {% for tag in item.data.tags %}
                <li class="tag">{{ tag }}</li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ol>