---
layout: base.njk
postsHeading: Alla inlägg
---

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{% include "intro.njk" %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.posts | reverse %}

{% include "post-list.njk" %}

<script defer src="/js/sort.js"></script>