---
layout: base.njk
postsHeading: Alla inlägg
---

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.posts | reverse %}

{% include "post-list.njk" %}

<script src="/js/sort.js"></script>