---
layout: base.njk
---

{# Intro content #}
{% set introHeading = title %}

<article class="post">
    {% include "intro.njk" %}
    <div class="container">
        {{ content | safe }}
    </div>
    {% if tags %}
    <footer class="post-footer">
        <div class="container">
            <ul>
                {% for tag in tags %}
                <li>
                    <a href="/tags/{{ tag }}">{{ tag }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </footer>
    {% endif %}
</article>