<footer class="site-footer">
    <div class="container">
        <div class="site-footer-inner">
            <div>
                <a class="sidebar-nav-item" href="{{ pkg.homepage }}" rel="noopener" target="_blank">GitHub project</a>
                <span class="sidebar-nav-item">Currently v{{ pkg.version }}</span>
            </div>
            <nav class="site-footer-nav" aria-label="navigation">
                {% for item in collections.pages %}
                    <a class="{% if page.url == item.url %} active{% endif %}" href="{{ item.url }}">{{ item.data.title }}</a>
                {% endfor %}
                </nav>
            </div>
        </div>
    </footer>