// @use "theme";
@use "global";
// @use "components";
// @use "utils";

$ratio: 1.333;
$breakpoint: 48;

:root {
    --color-dark: #252a37;
}

body {
    // background-image: url("../assets/images/img-noise-400x400.png");
    background-image: url("../assets/images/noisy-texture-100x100-o5-d10-c-f34379-t1");
    background-repeat: repeat;
}

body,
h1,
h2,
h3,
h4 {
    // font-family: nimbus-sans, sans-serif;
    font-family: aktiv-grotesk, sans-serif;
}

.lead {
    column-count: 2;
    column-gap: #{$ratio}rem;
    @media (max-width: #{$breakpoint}rem) {
        column-count: 1;
    }
}

.site-head {
    &__inner > div {
        height: 100%;
        border-bottom: 1px solid var(--color-dark);
    }
    h1 {
        white-space: pre-line;
        font-size: calc(var(--font-size-h1) * $ratio);
        @media (max-width: 768px) {
            white-space: normal;
        }
    }
}

.site-grid {
    display: grid;
    gap: #{$ratio}rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    &__full,
    &__right,
    &__left {
        width: 100%;
    }

    &__full {
        grid-column: span 4 / 5;
    }

    &__left {
        grid-column: span 2 / 3;
        place-self: start;
        @media (max-width: #{$breakpoint}rem) {
            grid-column: span 4;
            grid-row: 2;
        }
    }
    &__right {
        grid-column: 3 / span 2;
        place-self: start end;
        @media (max-width: #{$breakpoint}rem) {
            grid-column: span 4;
            grid-row: 1;
        }
    }
}

.nav {
    line-height: var(--font-line-height);
    text-align: start;

    &__item {
        display: block;
        margin-bottom: var(--font-mb);
        text-decoration: none;
        font-size: var(--font-size-h4);
    }

    &__brand {
        width: 100%;
        border-bottom: 1px solid var(--color-dark);
        &-item {
            margin-bottom: 0;
            text-decoration: none;
        }
        h2 {
            text-align: end;
            margin-bottom: 0;
        }
        margin-bottom: calc(var(--font-mb) * $ratio * $ratio);
    }
}

.content {
    &__info {
        // border-top: 1px solid var(--color-dark);
        padding-top: calc(var(--font-mb) * $ratio * $ratio);
    }
    &__list {
        padding: 0;
        margin: 0;
        li {
            grid-auto-rows: minmax(8vh, auto);
            grid-row: 1;
        }
        // :first-child {
            div {
                border-top: 1px solid var(--color-dark);
                padding-top: calc(var(--font-mb) * $ratio * $ratio);
            }
        // }
    }
}
