// @use "theme";
@use "global";
// @use "components";
@use "utils";

$ratio: 1.333;
$breakpoint: 48;

:root {
    --color-dark: #252a37;
}

body {
    // background-image: url("../assets/images/img-noise-400x400.png");
    background-image: url("../assets/images/noisy-texture-100x100-o5-d10-c-f34379-t1");
    background-repeat: repeat;
}

body,
h1,
h2,
h3,
h4 {
    // font-family: nimbus-sans, sans-serif;
    font-family: aktiv-grotesk, sans-serif;
}

.lead {
    column-count: 2;
    column-gap: #{$ratio}rem;
    @media (max-width: #{$breakpoint}rem) {
        column-count: 1;
    }
}

.site-head {
    &__inner > div {
        height: 100%;
        border-bottom: 1px solid var(--color-dark);
    }
    h1 {
        white-space: pre-line;
        @media (max-width: 768px) {
            white-space: normal;
        }
    }
}

.site-grid {
    display: grid;
    gap: #{$ratio}rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    &__full,
    &__right,
    &__left {
        width: 100%;
    }

    &__full {
        grid-column: span 4 / 5;
    }

    &__left {
        grid-column: span 2 / 3;
        place-self: start;
        @media (max-width: #{$breakpoint}rem) {
            grid-column: span 4;
            grid-row: 2;
        }
    }
    &__right {
        grid-column: 3 / span 2;
        place-self: start end;
        @media (max-width: #{$breakpoint}rem) {
            grid-column: span 4;
            grid-row: 1;
        }
    }
}

.nav {
    line-height: var(--font-line-height);
    text-align: end;

    @media (max-width: #{$breakpoint}rem) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__item {
        display: block;
        text-decoration: none;
        margin-bottom: calc(var(--font-mb) * 1.333 * 1.333);
        margin-left: #{$ratio}rem;
        @media (min-width: #{$breakpoint}rem) {
            margin-bottom: var(--font-mb);
        }

    }

    &__brand {
        margin-right: auto;
        @media (min-width: #{$breakpoint}rem) {
            width: 100%;
            border-bottom: 1px solid var(--color-dark);
        }
        &-item {
            margin-bottom: 0;
            text-decoration: none;
            @media (max-width: #{$breakpoint}rem) {
                display: block;
                width: 2.7ch;
                word-break: break-all;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        > h2 {
            margin-bottom: 0;
        }
        margin-bottom: calc(var(--font-mb) * $ratio * $ratio);
    }
}

.content {
    &__info {
        // border-top: 1px solid var(--color-dark);
        padding-top: calc(var(--font-mb) * $ratio * $ratio);
    }
    &__list {
        padding: 0;
        margin: 0;
        grid-column: span 4;
        border-top: 1px solid var(--color-dark);
        padding-top: calc(var(--font-mb) * $ratio * $ratio);
        li {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            min-height: 8vh;
            gap: #{$ratio}rem;
            // grid-auto-rows: minmax(8vh, auto);
        }
        &-item {
            &--left {
                grid-column: 1 / 2;
            }
            &--right {
                grid-column: 2 / 5;
            }
        }
    }
}

.site-foot {
    &__inner {
        column-count: 2;
        column-gap: #{$ratio}rem;
        border-top: 1px solid var(--color-dark);
        padding-top: calc(var(--font-mb) * $ratio * $ratio);

        @media (max-width: #{$breakpoint}rem) {
            column-count: 1;
        }
    }
}