:root {
  --prism-scheme: dark;
  --prism-foreground: #cccac2;
  --prism-background: #242936;
  --prism-comment: #b8cfe680;
  --prism-string: #d5ff80;
  --prism-literal: #d5ff80;
  --prism-keyword: #ffad66;
  --prism-function: #ffd173;
  --prism-deleted: #f27983;
  --prism-class: #5ccfe6;
  --prism-builtin: #5ccfe6;
  --prism-property: #5ccfe6;
  --prism-namespace: #db889a;
  --prism-punctuation: #cccac2;
  --prism-decorator: #ffdfb3;
  --prism-operator: var(--prism-keyword);
  --prism-number: #dfbfff;
  --prism-boolean: #dfbfff;
  --prism-variable: #cccac2;
  --prism-regex: #95e6cb;
  --prism-json-property: #5ccfe6;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #409fff40;
  --prism-font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;
}