@use "sass:color";
.button {
    display: inline-block;
    padding: ms(-2) ms(0);
    background: var(--color-primary);
    border: 1px solid var(--color-primary-hover);
    color: var(--color-text);
    text-decoration: none;
    font-size: ms(0);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: ms(-8);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        box-shadow: 0 0 0 ms(-5) rgba(222, 226, 230, 0.5);
    }

    &__close {
        background: transparent;
        border: none;
        padding: ms(-2);
        font-size: ms(0);
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1;
        cursor: pointer;
        color: var(--color-text);
        transition: all 0.2s ease-in-out;
    }
}