.container {
    // --container-width: 80ch;

    width: min(var(--container-width, 80ch), 100vw - 3rem);
    margin-inline: auto;
}

.site-grid {
    display: grid;
    gap: var(--m-100);
    grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
    // grid-template-rows: auto;
    justify-items: start;

    &__full,
    &__right,
    &__left {
        width: 100%;
    }

    &__full {
        grid-column: span 4 / 5;
    }

    &__left {
        grid-column: span 2 / 3;
    }
    &__right {
        grid-column: 3 / span 2;
    }
}