.container {
    // --container-width: 80ch;

    width: min(var(--container-width, 80ch), 100vw - 3rem);
    margin-inline: auto;
}

.site-head {
    &__inner {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 1rem;
    }
}