a {
    text-decoration: none;
    // color: hsl(210, 57%, 44%);
    color: var(--color-link);
    // color: #409fff40;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        // color: #a37acc;
        color: var(--color-link-visited);
    }
}