@forward "reset";
@forward "layout";
$serif: 'calluna', serif; 
$sans-serif: 'calluna-sans', sans-serif; 
$mono: Consolas, Menlo, Monaco, Courier, monospace;
@forward "typography" with (
    $font-family-headlines: $serif,
    $font-family-body: $sans-serif,
    $font-family-mono: $mono,
    $font-weight-bold: 700
);

h1 {
    font-weight: 900;
}
