{% if not hideDescription %}
{{ description | safe }}
{% endif %}

{%- if not hideDemo -%}
<style>
{{ css | safe }}
</style>
{%- endif -%}

<details {{ "open" if showDetails }}>
  <summary>CSS for "{{ title }}"</summary>

  {% highlight "css" %}
  {{- css | safe }}
  {% endhighlight %}
</details>

{%- if not hideDemo -%}
<div class="demo">
{{ html | safe }}
</div>
{%- endif -%}