<div
    id="flash-message"
    class="flash invisible"
    role="alertdialog"
    aria-labelledby="alertdialogTitle">
    <div class="flash__inner">
        <div class="flash__message">
            
        </div>
    </div>
</div>