{% set getPageLinks = helpers.getPageLinks(content) %}

{% if getPageLinks %}
<footer class="content__footer">
    <h4>Länklista</h4>
    <ul>
        {% for link in getPageLinks %}
        <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endfor %}
    </ul>
</footer>
{% endif %}
