{% if postListItems.length %}
    <ol class="post-list__list">
        {% for item in postListItems %}
            <li class="post-list__list-item">
                <a href="{{ item.url }}" rel="bookmark">{{ item.data.title }}</a>
                <time datetime="{{ item.date | htmlDateString }}">
                    {{ item.date | readableDate }}
                </time>
                {% if item.data.update %}
                    <span class="post-list__list-item--updated">(uppdaterad 
                        <time datetime="{{ item.data.update | htmlDateString }}">
                            {{ item.data.update | readableDate }}
                        </time>)
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}