{%- from '../nav/macro.njk' import nav -%}

<header class="site-head">
    <div class="site-head__inner container">
        {{ nav({
            siteName: props.siteName,
            active: props.active,
            items: props.items
        }) }}
        <div class="site-grid">
            <h1 class="site-grid__title">{{ props.title | linebreak }}</h1>
            {% if props.tags %}
                <ul class="site-grid__tags site-head__tags">
                    {% for tag in props.tags | sort %}
                        <li class="tag">
                            <a href="/tag/{{ tag | slugify }}">
                                {{ tag }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</header>