.demo {
    &__close {
        position: absolute;
        top: 0;
        right: 0;
        color: var(--color-grey-200);
        &:hover {
            color: var(--color-light);
        }
    }

    &__code {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        > div {
            position: relative;
            background: var(--prism-background);
            padding: var(--m-100);
            // top: -1px;
            left: 0;
            width: 100%;
        }
    }

    &__playground {
        min-height: 30vh;
        resize: horizontal;
        overflow: auto;
        position: relative;
        padding: var(--m-100);

        // border-top: 2px solid var(--color-dark);
        // box-shadow: var(--shadow);
        border: 1px solid var(--color-grey-100);
        border-top: none;
        * {
            margin: 0;
            padding: unset;
            border: unset;
            border-radius: unset;
            color: unset;
            font: unset;
        }
    }
}

.tab {
    display: none;
}

.tab:target {
    display: block;
}

.tab:not(:target) {
    display: none;
}

.tabs {
    display: flex;
    // padding: var(--font-mb);
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    // font-size: var(--font-size-fluid-h5);
    line-height: var(--font-line-height);
    // box-shadow: var(--shadow);
    border-bottom: var(--border-200);
    font-weight: 500;
    > li {
        // background-color: var(--color-grey-100);
        // box-shadow: var(--shadow);
        &:hover {
            background-color: var(--color-dark);
            color: var(--color-light);
        }
        > a {
            border: 1px solid var(--color-grey-100);
            border-bottom: none;
            display: block;
            font-weight: 500;
            text-decoration: none;
            padding: calc(var(--font-mb) / 2) var(--font-mb);
            &:hover {
                color: var(--color-light);
                border-color: var(--color-dark);
            }
        }
    }
}
