{% macro closeButton(title) %}
<a class="button demo__close" href="#{{ title | slugify}}"><span class="material-symbols-sharp">close</span></a>
{% endmacro %}

<div class="demo">

{%- if not hideDemo -%}
<style>{{- css | safe }}</style>
{%- endif -%}

{% if javascript %}
<script>{{- javascript | safe }}</script>
{%- endif -%}

{% if not hideDescription %}
{{ description | safe }}
{% endif %}


<div class="demo__code">
{% if html %}
<div id="html-{{ title | slugify }}" class="tab">
{{- closeButton(title) }}

```html
{{- html | safe }}
```
</div>
{% endif %}
{% if css %}
<div id="css-{{ title | slugify }}" class="tab">
{{- closeButton(title) }}

```css
{{- css | safe }}
```
</div>
{% endif %}
{% if javascript %}
<div id="js-{{ title | slugify }}" class="tab">
{{- closeButton(title) }}

```js
{{- javascript | safe }}
```
</div>
{% endif %}

<ul class="tabs group">
{% if html %}
<li>
    <a href="#html-{{ title | slugify }}">HTML</a>
</li>
{% endif %}
{% if css %}
<li>
    <a href="#css-{{ title | slugify }}">CSS</a>
</li>
{% endif %}
{% if javascript %}
<li>
    <a href="#js-{{ title | slugify }}">Javascript</a>
</li>
{% endif %}

</div>
{%- if not hideDemo -%}
<div class="demo__playground">
{{- html | safe }}
</div>
{%- endif -%}
</div>

<style>
#html-{{ title | slugify }}:target ~ .tabs li > a[href="#html-{{ title | slugify }}"],
#css-{{ title | slugify }}:target ~ .tabs li > a[href="#css-{{ title | slugify }}"],
#js-{{ title | slugify }}:target ~ .tabs li > a[href="#js-{{ title | slugify }}"] {
    background: var(--color-dark);
    color: var(--color-light);
    border-color: var(--color-dark);
}
</style>