---
postsHeading: 'Alla inlägg'
---

{% extends 'layouts/base.njk' %}
{%- from 'partials/components/post-list/macro.njk' import postList -%}
{% set postListItems = pagination.items %}

{% block content %}
<main id="main-content" tabindex="-1">
    <section class="content container flow">
        {% if postListItems.length %}
        {{
            postList({
                items: postListItems
            })
        }}
        {% endif %}

        {% if not tag %}
            {% include "../partials/components/pagination/template.njk" %}
        {% endif %}
    </section>
</main>
{% endblock %}