---
postsHeading: 'Alla inlägg'
---

{% extends 'layouts/base.njk' %}

{% set introHeading = title %}
{% set introSummary %}
    {{ content | safe }}
{% endset %}
{% set postListItems = pagination.items %}

{% block content %}
<main id="main-content" tabindex="-1">
    <section class="container">


        {% if not tag %}
            {% include "../partials/components/pagination.njk" %}
        {% endif %}
    </section>
</main>
{% endblock %}