---
layout: layouts/base.njk
postsHeading: 'Alla inlägg'
---

{% set introHeading = title %}
{% set introSummary %}
    {{ content | safe }}
{% endset %}

{% include "../partials/components/hero.njk" %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = pagination.items %}

{% include "../partials/components/post-list.njk" %}

{% if not tag %}
    {% include "../partials/components/pagination.njk" %}
{% endif %}