---
postsHeading: Senaste inläggen
---
{% extends 'layouts/base.njk' %}

{% set introHeading = title %}
{% block content %}
    <main id="main-content" tabindex="-1">
        <section class="container">
            {% set introSummary %}
            {{ content | safe }}
            {% endset %}
            
            {% include "../partials/components/header.njk" %}
            
            {% set postListHeading = postsHeading %}
            {% set postListItems = collections.feed %}
            
            {% include "../partials/components/post-list.njk" %}
        </section>
    </main>
{% endblock %}