---
postListHeading: Senaste
---

{% extends 'layouts/base.njk' %}

{% set introHeading = title %}
{% set postListItems = collections.feed %}
{% set postListLatest = postListItems.shift() %}

{% set introSummary %}
    {{ content | safe }}
{% endset %}

{% block content %}
<main id="main-content" tabindex="-1">
    <section class="content container">
        <header class="content__header content__header-intro">
            <div class="content__header-intro__inner container">
                <h1 class="h3">
                    Senaste
                </h1>
                <h2 class="h2">
                    <a href="{{ postListLatest.url }}" rel="bookmark">{{ postListLatest.data.title }}</a>
                </h2>
                <p class="h4 lead">
                    {{ postListLatest.data.lead }}
                </p>
            </div>
        </header>
        <aside class="content__info container">
            <h2 class="h1">
                {{ introHeading | safe}}
            </h2>
            <div class="h4 lead">
                {{ introSummary | safe }}
            </div>
        </aside>

        {% include "../partials/components/post-list.njk" %}

        </div>
    </section>
</main>
{% endblock %}
