---
postListHeading: Senaste inläggen
---

{% extends 'layouts/base.njk' %}

{% set introHeading = title %}
{% set postListItems = collections.feed %}
{% set introSummary %}
    {{ content | safe }}
{% endset %}

{% block content %}
<main id="main-content" tabindex="-1">
    <section class="content container flow">
        {% include "../partials/components/header.njk" %}
        <div class="post-list">
            <div class="post-list__title">
                <h2 id="{{ postListHeading | slug }}">
                    <a href="#{{ postListHeading | slug }}" class="anchor">
                        <span class="visually-hidden">permalink</span>
                        #
                    </a>
                    {{ postListHeading }}
                </h2>
            </div>
            {% include "../partials/components/post-list.njk" %}

        </div>
    </section>
</main>
{% endblock %}
