{% extends 'layouts/base.njk' %}

{% set pagesCheck = page.filePathStem.includes('/pages/') %}

{% block content %}
<main id="main-content" tabindex="-1">
    <article class="content container">

        <!-- {% if update %}
        <p>
            <strong
                >Texten är uppdaterad
                <time datetime="{{ update | htmlDateString }}">{{
                    update | readableDate
                }}</time
                >.</strong
            >
        </p>
        {% endif %} -->

        <!-- {% if lead %}
        <div class="content__lead">
            <p>
                <em>{{ lead | safe }}</em>
            </p>
        </div>
        {% endif %} -->

        {{ content | safe }}

        {% if pagesCheck == false %}
            {% include "../partials/components/link-list-footer.njk" %}
        {% endif %}
    </article>
</main>
{% endblock %}
