---
layout: layouts/base.njk
---
{# Intro content #}
{% set introHeading = title %}

<article class="post">
    {% include "../components/intro.njk" %}
    <div class="container">
        {% if update %}
            <p>
                <strong>Texten är uppdaterad <time datetime="{{ update | htmlDateString }}">{{ update | readableDate }}</time>.</strong>
            </p>
        {% endif %}
        {% if lead %}
            <p class="post__lead">
                <em>{{ lead | safe }}</em>
            </p>
        {% endif %}
        {{ content | safe }}
    </div>
    {% if tags %}
    <footer class="post__foot">
        <div class="container">
            <p class="visually-hidden" id="tags-desc">Taggar för det här inlägget.</p>
            <ul class="tag-list" aria-describedby="tags-desc">
                {% for tag in tags %}
                <li class="tag-list__item">
                    <a href="/tag/{{ tag | slug }}">{{ tag }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </footer>
    {% endif %}
</article>