{% extends 'layouts/base.njk' %}

{% set pagesCheck = page.filePathStem.includes('/pages/') %}

{% block header %}
{{
    siteHead({
        title: title,
        siteName: meta.siteName,
        active: page.url,
        items: collections.pages,
        tags: tags,
        category: category
    })
}} 
{% endblock %}

{% block content %}
<main id="main-content" tabindex="-1">
    <article class="content container flow">
        {% if lead %}
        <p class="content__lead">{{ lead | safe }}</p>
        {% endif %}

        {{ content | safe }}

        {% if pagesCheck == false %}
            {% include "../partials/components/link-list-footer.njk" %}
        {% endif %}
    </article>
</main>
{% endblock %}
