{% extends 'layouts/base.njk' %}

{% block content %}
<main id="main-content" tabindex="-1">
    <section class="content container">
        {{ content | safe }}
    </section>
</main>
{% endblock %}
