.sandbox {
    --color-light: #f9f9f9;
    --color-dark: #212121;
    --color-shadow: rgba(33, 33, 33, 0.2);
    --color-secondary: #4a0080;

    .navbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0.6rem;
        font-size: 1.4rem;
        background-color: var(--color-light);
        ul {
            margin: 0;
            padding: 0;
        }
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        @media (max-width: 768px) {
            flex-direction: column;
            padding-left: 0;
        }
        li {
            padding-right: 1rem;
            &:first-child {
                padding-left: 1rem;
                @media (max-width: 768px) {
                    padding-left: 0;
                }
            }
            a {
                text-decoration: none;
                color: var(--color-secondary);
                &:hover {
                    color: var(--color-dark);
                }
            }
        }
    }

    .active {
        color: var(--color-dark);
    }

    .dropdown {
        display: inline-block;
        position: relative;
        &:hover .nav {
            display: flex;
            flex-direction: column;
        }
        ul {
            margin: 0;
            padding: 0;
        }
        button {
            padding: 0;
            border: 0;
            background-color: inherit;
            font-size: 1.4rem;
            color: var(--color-secondary);
            &:hover {
                color: var(--color-dark);
            }
        }
        .nav {
            z-index: 1010;
            position: absolute;
            display: none;
            min-width: 10rem;
            background-color: var(--color-light);
            box-shadow: 0px 8px 16px 0px var(--color-shadow);
            background-color: var(--color-light);
            li {
                padding: 0.4rem;
                &:hover {
                    box-shadow: 0px 8px 16px 0px var(--color-shadow);
                }
            }
        }
    }
}
