<footer class="site-foot">
    <div class="site-foot__inner container">
        <p class="text-small">
            Det här är version {{ pkg.version }} av den här sidan. Den
            är skapad med <a href="https://111ty.dev">11ty</a> och
            publicerad på <a href="https://netlify.com">Netlify</a>.
            Koden till sidan finns på
            <a href="{{ pkg.url }}">GitHub</a>, den är fri att använda.
            Jag använder Google analytics på webbplatsen för att se
            trafikdata. All text och innehåll © {% year %} Jens
            Andreasson.
        </p>
    </div>
</footer>
