.button {
    border: none;
    display: inline-block;
    padding: var(--step--2) var(--step--1);
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-weight: var(--font-weight-medium);
}