.tag-cloud {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: var(--font-headline-height);
    &[data-show-value] a::after {
        content: " (" attr(data-weight) ")";
        font-size: var(--step--2);
    }

    a[data-weight="1"] { --size: 1; }
    a[data-weight="2"] { --size: 2; }
    a[data-weight="3"] { --size: 3; }
    a[data-weight="4"] { --size: 4; }
    // a[data-weight="5"] { --size: 5; }
    // a[data-weight="6"] { --size: 6; }
    // a[data-weight="7"] { --size: 7; }
    // a[data-weight="8"] { --size: 8; }
    // a[data-weight="9"] { --size: 9; }
    a {
        // --size: attr(data-weight number, 2);
        font-size: calc(var(--size, 5) * var(--step--2));
        display: block;
        padding: calc(var(--step--2) / 2) calc(var(--step--1) / 2);
        text-decoration: none;
        position: relative;
        &:hover {
            text-decoration: underline;
        }
    }
}
