<nav class="navbar">
    <a class="brand" href="#">Brand</a>
    <ul class="nav">
        <li>
            <a class="active" href="index.html">Hem</a>
        </li>
        <li>
            <a href="#">Navigation</a>
        </li>
        <li class="dropdown">
            <button >Dropdown</button>
            <ul class="nav">
                <li>
                    <a href="#">Link</a>
                </li>
                <li>
                    <a href="#">Link</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>