.flash {
    z-index: 1100;
    position: fixed;
    // color: var(--color-light);
    background: var(--color-grey-100);
    border: var(--border-100);
    left: 2vmin;
    bottom: 2vmin;
    max-width: 40ch;
    width: 100%;
    padding: var(--step-0);
    &__inner {
        display: grid;
        gap: var(--step--2) var(--step--1);
        grid-auto-rows: auto;
    }
    &__message {
        grid-row: 1;
    }
    &__button {
        grid-row: 2;
        // align-self: end;
        justify-self: end;
        background-color: var(--color-dark) !important;
        color: var(--color-light) !important;
        &:hover {
            color: var(--color-primary) !important;
        }
    }
}
