---
title: Example
date: 2022-01-20
tags: ['kod', 'exempel']
---

<link rel="stylesheet" href="{{ '/css/examples/nav.css' }}">
<h2>Navbar, responsiv utan javascript</h2>
<div class="sandbox">
    {% include "examples/nav.njk" %}
</div>
