{% set title = 'Hej, jag heter Jens' %}
{% extends 'layouts/base.njk' %}
{%- from 'partials/components/post-list/macro.njk' import postList -%}
{% block content %}
<main id="main-content" tabindex="-1">
    <section class="content container site-grid">
        <aside class="content__info site-grid__full">
            <p class="h5 lead">
                Jag är en lärare på
                <a href="https://www.ntigymnasiet.se/umea/"
                    >NTI Gymnasiet Umeå</a
                >. Att designa och koda är något som jag gjort större delen av
                mitt liv och nu har privilegiet att arbeta med. På den här
                webbplatsen samlar jag mina anteckningar och en del annat
                material. På
                <a href="https://github.com/jensnti">GitHub</a> finns saker jag
                har kodat. Vill du veta mer <a href="/om">om</a> mig.
            </p>
        </aside>
        {% set postListItems = collections.feed %} {% if postListItems.length %}
        {{
            postList({
                items: postListItems
            })
        }}
        {% endif %}
    </section>
</main>
{% endblock %}
