---
title: Taggat
pagination:
    data: collections
    size: 1
    alias: tag
    filter: ['all', 'nav', 'pages', 'tagList']
permalink: /tag/{{ tag | slug }}/
postsHeading: 'Alla inlägg'
---

{% extends 'layouts/base.njk' %}

{% set introHeading = title + ' med ' + tag %}

{% block content %}
<main id="main-content" tabindex="-1">
    <section class="container">
            {% include "partials/components/header.njk" %}

            {% set postListItems =  collections[tag] | reverse %}
            
            {% include "partials/components/post-list.njk" %}
            
            <h4><a href="{{ '/tags/' | url }}">Alla taggar</a></h4>
        </section>
    </main>
<script src="/js/sort.js"></script>
{% endblock %}