---
title: Alla taggar
permalink: /taggar/
---

{% extends 'layouts/base.njk' %}

{% set introHeading = title %}

{% block content %}
    <main id="main-content" tabindex="-1">
        <section class="content container">
            {% include "partials/components/header.njk" %}
            <ul class="tag-cloud">
                {% for tag in collections.tagList %}
                    {% set tagUrl %}/tagg/{{ tag | slug }}/{% endset %}
                        <li class="{{ collections[tag].length | tagCountCss }}">
                            <a href="{{ tagUrl | url }}">{{ tag | capitalize }}</a>
                            {{ collections[tag].length }}
                        </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}