---
pagination:
    data: collections
    size: 1
    alias: tag
    filter: ['all', 'nav', 'pages', 'tagList']
permalink: /tagg/{{ tag | slugify }}/
postsHeading: 'Alla inlägg'
---

{% set title = 'Taggat med ' + tag %}
{% extends 'layouts/base.njk' %}
{%- from 'partials/components/post-list/macro.njk' import postList -%}

{% block header %}
{{
    siteHead({
        title: title,
        siteName: meta.siteName,
        active: page.url,
        items: collections.pages,
        link: ["Alla taggar", "/taggar/"]
    })
}} 
{% endblock %}

{% block content %}
<main id="main-content" tabindex="-1">
    <section class="content container flow">
        <aside class="content__info">
            <p>Här hittar du allt som är taggat med {{ tag }}.</p>
        </aside>
        {% set postListItems = collections[tag] | reverse %}
        {% if postListItems.length %}
        {{
            postList({
                items: postListItems
            })
        }}
        {% endif %}
        <!-- <footer class="content__footer">
            <h4><a href="{{ '/taggar/' }}">Alla taggar</a></h4>
        </footer> -->
    </section>
</main>
{% endblock %}
