/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in src/_theme/color-tokens.js
 */

$color-primary: #078080 !default;
$color-on-primary: #F3FBFB !default;
$color-purple: #381436 !default;
$color-on-purple: #A47CA2 !default;
$color-link: #182142 !default;
$color-on-link: #8089AA !default;
$color-secondary: #f45d48 !default;
$color-on-secondary: #530F05 !default;
$color-dark: #232323 !default;
$color-on-dark: #8A8A8A !default;
$color-light: #f8f5f2 !default;
$color-on-light: #75706C !default;

$base-color-tokens: ("primary", "purple", "link", "secondary", "dark", "light");

$color-tokens: (
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-purple": $color-purple,
  "color-on-purple": $color-on-purple,
  "color-link": $color-link,
  "color-on-link": $color-on-link,
  "color-secondary": $color-secondary,
  "color-on-secondary": $color-on-secondary,
  "color-dark": $color-dark,
  "color-on-dark": $color-on-dark,
  "color-light": $color-light,
  "color-on-light": $color-on-light
) !default;

@mixin color-tokens() {
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-purple: #{$color-purple};
  --color-on-purple: #{$color-on-purple};
  --color-link: #{$color-link};
  --color-on-link: #{$color-on-link};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
  --color-dark: #{$color-dark};
  --color-on-dark: #{$color-on-dark};
  --color-light: #{$color-light};
  --color-on-light: #{$color-on-light};
}