$modularscale: (
    base: 1rem,
    ratio: 1.414,
);

.d-none {
    display: none;
}

.pr-md-3 {
    padding-right: ms(3);
    @media (max-width: map-get($breakpoints, md )) {
        padding-right: 0;
    }
}

.text-small {
    font-size: ms(0);
    margin-bottom: ms(-2);
    line-height: 1.4;
}

.skip-link {
    &:not(:focus) {
        border: 0;
        clip: rect(0 0 0 0);
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.flex-reverse {
    flex-direction: column-reverse !important;
}