$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$font-heading: 'Fira Sans', sans-serif;
$font-body: 'Merriweather', serif;


$serif: 'calluna', serif; 
$sans-serif: 'calluna-sans', sans-serif; 