@import "reset";
@import "color-tokens";
@import "vars";
@import "../../node_modules/modularscale-sass/stylesheets/modularscale";

$modularscale: (
    base: 1rem,
    ratio: 1.414,
);

:root {
    --color-body-background: #{$white};
    --color-main-background: #{$white};
    --color-text: #{$black};
    --color-primary: #{$primary-darken};
    --color-primary-darken: #{$primary};
    --color-secondary: #{$secondary-darken};
    --color-secondary-darken: #{$secondary};
    --color-tertiary: #{$tertiary};
}

.dark {
    --color-body-background: #{$black};
    --color-main-background: #{$blacker};
    --color-text: #{$light};
    --color-primary: #{$primary};
    --color-primary-darken: #{$primary-darken};
    --color-secondary: #{$secondary-lighten};
    --color-secondary-darken: #{$secondary};
    --color-tertiary: #{$tertiary};
}

* {
    transition: all 0.15s ease;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-size: ms(1);
    font-family: $sans-serif;
    font-weight: 400;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background-color: var(--color-body-background);
    color: var(--color-text);
}

main {
    flex: 1 0 auto;
    background-color: var(--color-main-background);
}

.site-header {
    background-color: var(--color-main-background);
}

.site-intro {
    background-color: var(--color-body-background);
}

.site-header,
.site-footer {
    a {
        color: var(--color-primary);
        &:visited {
            color: var(--color-primary);
        }
        &:hover {
            color: var(--color-primary-darken);
        }
    }
}

a {
    color: var(--color-secondary);
    &:visited {
        color: var(--color-secondary);
    }
    &:hover {
        color: var(--color-secondary-darken);
    }
}

button {
    color: var(--color-tertiary);
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h1,
h2 {
    font-family: $serif;
}

h1 {
    font-size: ms(4);
    font-weight: 900;
}

h1 > a > svg {
    width: ms(2);
    height: ms(2);
}

h2,
h3 {
    font-weight: 600;
}

h2 {
    font-size: ms(3);
}

h3 {
    font-size: ms(2);
    margin-bottom: ms(-2);
}

p {
    max-width: 60ch;
    margin-top: 0;
    margin-bottom: ms(0);
}

$code-paths: (
    1: polygon(0 0, 100% 2%, 100% 98%, 0% 100%),
    2: polygon(0 2%, 100% 0, 100% 100%, 0 98%)
);

pre {
    width: 100vw;
    margin-left: 50% !important;
    transform: translateX(-50%);
    display: flex;
    align-content: center;
    &:nth-of-type(even) {
        clip-path: map-get($code-paths, 1);
    }
    &:nth-of-type(odd) {
        clip-path: map-get($code-paths, 2);
    }
    code {
        width: 100%;
        display: inline-block;
        margin-left: auto !important;
        margin-right: auto !important;
        padding: ms(1) !important;
        max-width: 45.18rem !important;
    }
}

ol,
ul {
    margin-top: ms(-1);
    margin-bottom: ms(-1);
}
ol,
.tag-list {
    padding-left: 0rem;
    padding-right: 0rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: ms(1);
    padding-right: ms(1);
    max-width: 45.18rem;
}

.site-header-inner,
.site-footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.site-header-title {
    font-weight: 900;
    font-size: ms(2);
}

.site-header-brand {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.nav-item {
    font-size: ms(1);
    text-decoration: none;
    padding-left: ms(-2);
    &:hover {
        text-decoration: underline;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
}

.site-footer-inner > nav {
    @media (max-width: map-get($breakpoints, md )) {
        display: none;
    }
}

.anchor {
    text-decoration: none;
    margin-left: ms(-2);
}
// a[href].anchor,
// a[href].anchor:visited {
//     visibility: hidden;
// }
// :focus > a[href].anchor,
// :focus > a[href].anchor:visited,
// :hover > a[href].anchor,
// :hover > a[href].anchor:visited,
// a[href].anchor:focus,
// a[href].anchor:focus:visited {
//     visibility: visible;
// }

.post-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: ms(0);
    margin-bottom: ms(0);
    &-title {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    h3 {
        margin-bottom: 0;
    }
    li {
        margin-bottom: ms(-1);
    }
}

.flex-reverse {
    flex-direction: column-reverse !important;
}

.lead {
    font-size: ms(2);
    font-weight: 300;
    margin-bottom: 0;
}

.site-header {
    padding-top: ms(1);
    padding-bottom: ms(1);
}

.site-footer {
    padding-top: ms(3);
    padding-bottom: ms(4);
}

.site-intro {
    padding-top: ms(3);
    padding-bottom: ms(3);
    margin-bottom: ms(1);
}

.post-footer {
    padding-top: ms(1);
    padding-bottom: ms(1);
}

.site-lead {
    margin-top: ms(1);
    p:last-child {
        margin-bottom: 0;
    }
}

.tag-list {
    list-style: none;
    display: flex;
}

.tag-item {
    padding-right: ms(1);
}

.text-small {
    font-size: ms(0);
    margin-bottom: ms(-2);
    line-height: 1.4;
}

.skip-link {
    &:not(:focus) {
        border: 0;
        clip: rect(0 0 0 0);
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.switch {
    background-color: transparent;
    border: none;
    color: var(--color-primary);
    padding: 0;
    margin: 0;
    line-height: 1;
    svg > path:hover {
        fill-rule: inherit;
    }
}

.full-bleed {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

::selection {
    background-color: $blackest;
    color: var(--color-text);
}

::-moz-selection {
    background-color: $blackest;
    color: var(--color-text);
}