@import "reset";
@import "../../node_modules/modularscale-sass/stylesheets/modularscale";

@import "mixins/dark-mode";

@import "theme";
@import "typography";
@import "utils";
@import "components/button";
@import "components/flash";

$modularscale: (
    base: 1rem,
    ratio: 1.414,
);

// * {
//     transition: all 50ms ease;
// }

body,
html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background: var(--color-bg);
    color: var(--color-text);
}

main {
    flex: 1 0 auto;
    background-color: var(--color-bg-variant);
}

a {
    text-decoration: none;
    color: var(--color-secondary);
    &:visited {
        color: var(--color-secondary);
    }
    &:hover {
        text-decoration: underline;
        color: var(--color-secondary-hover);
    }
}

h1 > a > svg {
    width: ms(2);
    height: ms(2);
}

h2 > a > svg {
    width: ms(1);
    height: ms(1);
}

h3 > a > svg {
    width: ms(0);
    height: ms(0);
}

h2,
h3 {
    margin-bottom: ms(-2);
}

p {
    max-width: 60ch;
    margin-top: 0;
    margin-bottom: ms(0);
}

blockquote {
    padding-left: ms(1);
}

code {
    background-color: var(--color-code-bg);
    color: var(--color-code-text);
    padding: ms(-4) ms(-3);
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    margin-top: ms(1);
    margin-bottom: ms(1);
    width: 100vw;
    margin-left: calc(50% - 50vw) !important;
    display: flex;
    align-content: center;
    &:nth-of-type(even) {
        clip-path: map-get($code-paths, 1);
    }
    &:nth-of-type(odd) {
        clip-path: map-get($code-paths, 2);
    }
    code {
        width: 100%;
        display: inline-block;
        margin-left: auto !important;
        margin-right: auto !important;
        padding: ms(1) !important;
        max-width: 45.18rem !important;
    }
}

ol,
ul {
    margin-top: ms(-1);
    margin-bottom: ms(-1);
}

.container, figcaption {
    margin-left: auto;
    margin-right: auto;
    padding-left: ms(1);
    padding-right: ms(1);
    max-width: ms(11);
}

.site-head {
    padding-top: ms(1);
    padding-bottom: ms(1);
    background-color: var(--color-bg-variant);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @media (max-width: map-get($breakpoints, md )) {
            display: block;
        }
    }
    &__title {
        font-weight: 700;
        font-size: ms(2);
    }
    &__brand {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.site-foot {
    padding-top: ms(3);
    padding-bottom: ms(4);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @media (max-width: map-get($breakpoints, md )) {
            display: block;
        }
    }
}

.site-head,
.site-foot {
    a {
        color: var(--color-primary);
        &:visited {
            color: var(--color-primary);
        }
        &:hover {
            color: var(--color-primary-hover);
        }
    }
}

.site-intro {
    background-color: var(--color-bg);
    padding-top: ms(2);
    padding-bottom: ms(2);
    margin-bottom: ms(1);
    &__title {
    }
    &__lead {
        margin-top: ms(1);
        p:last-child {
            margin-bottom: 0;
        }
    }
}

.nav {
    display: flex;
    &__item {
        font-size: ms(1);
        text-decoration: none;
        &:not(:first-child) {
            padding-left: ms(0);
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.post {
    h2, h3 {
        margin-top: ms(1);
    }
    figure {
        padding: ms(1) 0;
        width: 100vw;
        max-width: ms(11);
        margin-left: 50%;
        transform: translateX(-50%);
        position: relative;
        figcaption {
            padding-top: ms(-1);
            font-style: italic;
        }
    }
    img, picture {
        width: 100%;
    }
    &__lead {
        font-family: $serif;
    }
    &__foot {
        padding-bottom: ms(1);
    }
}

.post-list {
    &__lead {
        font-style: italic;
    }
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: ms(0);
        margin-bottom: ms(0);
        padding-left: 0rem;
        padding-right: 0rem;
        li {
            margin-bottom: ms(-1);
            h3 {
                font-family: $sans-serif;
                margin-bottom: 0;
                a {
                    text-decoration: underline;
                }
                time {
                    font-size: ms(1);
                }
            }
        }
    }
    &__title {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    &__icon {
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        line-height: 1;
        color: var(--color-secondary);
        &:hover {
            color: var(--color-tertiary-hover);
        }
    }
}

.active {
    font-weight: 700;
}

.lead {
    font-size: ms(2);
    font-weight: 300;
}

.tag-list {
    list-style: none;
    display: flex;
    padding-left: 0rem;
    padding-right: 0rem;
    &__item {
        margin-right: ms(1);
        a {
            color: var(--color-secondary);
            text-decoration: none;
            &:hover {
                color: var(--color-secondary-hover);
            }
        }
    }
}

.anchor {
    text-decoration: none;
    margin-left: ms(-2);
    color: var(--color-secondary);
    &:visited {
        color: var(--color-secondary);
    }
    &:hover {
        color: var(--color-secondary-hover);
    }
}
// a[href].anchor,
// a[href].anchor:visited {
//     visibility: hidden;
// }
// :focus > a[href].anchor,
// :focus > a[href].anchor:visited,
// :hover > a[href].anchor,
// :hover > a[href].anchor:visited,
// a[href].anchor:focus,
// a[href].anchor:focus:visited {
//     visibility: visible;
// }

::selection {
    background-color: var(--color-selection-bg);
    color: var(--color-selection-text);
}

::-moz-selection {
    background-color: var(--color-selection-bg);
    color: var(--color-selection-text);
}

.no-js .user-toggle {
    display: none;
}

.toggle-button {
    display: inline-flex;
    background-color: transparent;
    color: var(--color-primary);
    border: none;
    padding: 0;
    margin: 0;
    &:hover > span > svg > path {
        fill-rule: inherit;
    }
    &__icon {
        color: var(--color-primary);
        transform: translateY(1px); /* Optical adjustment */
        transition: all 500ms ease;
        height: ms(2);
        width: ms(2);
        &:hover {
            color: var(--color-text);
        }
        svg {
            height: ms(2);
            width: ms(2);
        }
    }
}

.shadow {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
}

.pagination {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: ms(1);
    padding-bottom: ms(1);
    &>[data-direction=forwards] {
        margin-inline-start: auto;
    }
}

.invisible {
    display: none !important;
}