---
title: Projekt
permalink: /projekt/
order: 3
---

{% extends "layouts/base.njk" %}

{% set introHeading = title %}

{% block content %}
<main id="main-content" tabindex="-1">
    <section class="content container">
        {% include "partials/components/header.njk" %}
        <ul>
            {% for project in collections.projects %}
            <li>
                <a href="{{ project.url }}">
                    {{ project.data.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}
