<nav class="nav" aria-label="Main">
    <div class="nav__brand">
        <h2>
            <a
                href="/"
                class="nav__brand-item h3"
                aria-label="{{ meta.siteName }} - Hem"
                >{{ meta.siteName }}
            </a>
        </h2>
    </div>
    <!-- <a
        class="nav__item h5{% if item.url == page.url %} active{% endif %}"
        href="/projekt"
        >Projekt
    </a> -->
    {% for item in collections.pages | reverse %}
    <a
        class="nav__item h5{% if item.url == page.url %} active{% endif %}"
        href="{{ item.url }}"
        >{{ item.data.title }}
    </a>
    {% endfor %}
</nav>