.nav {
    line-height: var(--font-line-height);
    text-align: end;

    @media (max-width: 80ch) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__item {
        display: block;
        text-decoration: none;
        margin-bottom: var(--m-300);
        margin-left: var(--m-100);

        @media (min-width: 80ch) {
            margin-bottom: var(--font-mb);
        }
    }

    &__brand {
        margin-right: auto;
        @media (min-width: 80ch) {
            width: 100%;
            border-bottom: 1px solid var(--color-dark);
        }
        &-item {
            margin-bottom: 0;
            text-decoration: none;
            @media (max-width: 80ch) {
                display: block;
                width: 2.7ch;
                word-break: break-all;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        > h2 {
            margin-bottom: 0;
        }
        margin-bottom: var(--m-300);
    }
}