<nav class="nav" aria-label="Main">
    <div class="nav__brand">
        <h2>
            <a
                href="/"
                class="nav__brand-item h3"
                aria-label="{{ props.siteName }} - Hem"
                >{{ props.siteName }}
            </a>
        </h2>
    </div>
    {% for item in props.items | reverse %}
    <a
        class="nav__item h5{% if item.url == props.active %} active{% endif %}"
        href="{{ item.url }}"
        >{{ item.data.title }}
    </a>
    {% endfor %}
</nav>